<div class="row col-md-8 col-md-offset-2 showCard">
  <div class="col-md-8">
    <h2>{{booksShowCtrl.book.title}}</h2>
    <p>
      Author: {{booksShowCtrl.book.author}} <br>
      Release Date: {{booksShowCtrl.book.releaseDate}}
    </p>
    <button class="btn btn-danger col-md-4" ng-click='BooksShowController.deleteBook(book)'>Delete Book</button>
    <button class="btn btn-info col-md-4">Edit Book</button>
  </div>
  <div class="col-md-4">
    <img class="showImage" src="{{booksShowCtrl.book.image}}" alt="" />
  </div>

</div>
